@model RegattaMeldung.Models.StartingFee

@{
    ViewData["Title"] = "Startgebühr erstellen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Startgeb&uuml;hr erstellen</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoatclassId" class="control-label"></label>
                <select asp-for="BoatclassId" class="form-control" asp-items="ViewBag.BoatclassId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FromOldclassId" class="control-label"></label>
                <select asp-for="FromOldclassId" class="form-control" asp-items="ViewBag.OldclassId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ToOldclassId" class="control-label"></label>
                <select asp-for="ToOldclassId" class="form-control" asp-items="ViewBag.OldclassId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Erstellen" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Zur&uuml;ck</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
