@model RegattaMeldung.Models.CampingFee

@{
    ViewData["Title"] = "Löschen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Zeltplatzgeb&uuml;hr l&ouml;schen</h2>

<h3>Bist du sicher?</h3>
<div>
    <h4>CampingFee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CampingFeeId" />
        <input type="submit" value="L&ouml;schen" class="btn btn-primary" /> |
        <a asp-action="Index">Zur&uuml;ck</a>
    </form>
</div>
