@{
    ViewData["Title"] = "Impressum";
}
<h2>@ViewData["Title"]</h2>

<h4>Verantwortlich f&uuml;r dieses Angebot:</h4>
<p>
    Bj&ouml;rn Ohlrich<br />
    Dreiwerdener Weg 85<br />
    09648 Mittweida<br />
</p>

E-Mail: hilfe@regattaplaner.net

<address>
    Bj&ouml;rn Ohlrich<br />
    Dreiwerdener Weg 85<br />
    09648 Mittweida<br />
</address>

<address>
    <strong>E-Mail:</strong> <a href="mailto:hilfe@regattaplaner.net">hilfe@regattaplaner.net</a><br />
</address>
