
@{
    ViewData["Title"] = "Hilfe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hilfe</h2>

<p>
    Die Bedienung des Meldeprogramms gestaltet sich in 2 Abschnitten.
</p>
<p>
    Zun&auml;chst sollten &uuml;ber den Men&uuml;punkt "Stammdaten" die aktuellen Sportler des Vereins &uuml;berpr&uuml;ft werden. Hier k&ouml;nnen nicht mehr vorhandene Sportler entfernt, sowie neue hinzugef&uuml;gt werden.
</p>
<p>
    Des weiteren k&ouml;nnen Sportler definiert werden, die in dem bestimmten Jahr f&uuml;r einen anderen Verein fahren, oder aktiv Sportler eines anderen Vereins zu den eigenen als ausgeliehener Sportler hinzugef&uuml;gt werden.
</p>
<p>
    Im zweiten Schritt k&ouml;nnen die Meldungen f&uuml;r die entsprechende Regatta &uuml;ber den Men&uuml;punkt "Meldung" erstellt werden. Hier muss f&uuml;r das jeweilige Rennen auf "Startboot hinzuf&uuml;gen" geklickt und die entsprechenden Sportler eingetragen werden.
</p>
<p>
    F&uuml;r weitere Hilfe oder Probleme k&ouml;nnen Sie sich gern direkt an den Verantwortlichen &uuml;ber <a href="mailto:hilfe@regattaplaner.net">hilfe@regattaplaner.net</a> wenden.
</p>