@{
    ViewData["Title"] = "Danke!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vielen Dank für die Registrierung!</h2>
<h4>Sie erhalten in kürze eine E-Mail mit Ihrem Meldelink.</h4>

<p>
    Bei weiteren Fragen oder Anregungen, wenden Sie sich bitte an <a href="mailto:info@regattaplaner.net">info@regattaplaner.net</a>
</p>